.short-calculation-container {
  padding: 15px;

  @media (max-width: 768px) {
    padding: 8px 12px;
  }

  .header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .header-title {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 4px;

      .title {
        font-size: 28px;
        line-height: 28px;
      }

      @media (max-width: 768px) {
        font-size: 22px;
        line-height: 22px;
      }
    }

    img {
      width: 40px;
      height: 40px;

      &.calculator {
        width: 38px;
        height: 36px;
      }

      @media (max-width: 768px) {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.card-detail {
  &:hover {
    font-weight: bold;
  }
}
