/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

body {
  background: #f4f6f8;
  font-family: "Inter", sans-serif;
}

.cursor {
  cursor: pointer;
}
